/* Global CSS Declare */
* {
    margin: 0 auto;
    padding: 0;
}

h2,
h3,
h4,
label {
    font-family: 'Raleway', sans-serif;
    color: #222222;
}

h5,
h6,
a,
p {
    font-family: 'Poppins', sans-serif;
    color: #666666;
}

a {
    text-decoration: none;
}

.section {
    margin-bottom: 80px;
}

.row {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
}

.devide-2 {
    width: 45%;
}

.button {
    background-image: linear-gradient(90deg, #ff924f, tomato);
    padding: 15px 40px;
    border-radius: 30px;
    color: white;
    text-transform: capitalize;
    font-size: 20px;
}

/* Header Section Start*/
.header {
    text-align: center;
    margin: 10px 0 30px;
}

.logo {
    font-family: 'Lobster Two', cursive;
    color: #5B5B5B;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: 2.5px;
}

.logo span {
    color: #FC8043;
}

/* Header Section End*/

/* Hero Section Start*/
.hero-text h2 {
    font-size: 50px;
    padding: 130px 0px 30px;
    line-height: 1.3;
}

.hero-text h2 span {
    color: #ff924f;
}

.hero-text p {
    padding-bottom: 75px;
}

.hero-img img {
    width: 100%;
}

/* Hero Section End*/

/* About Section Start*/
.about-section {
    background-image: url(img/7.png);
    background-repeat: no-repeat;
}

.about-img-box {
    margin-top: 30px;
    text-align: center;
}

.about-img-box img {
    width: 70%;
}

.about-text-box {
    margin-top: 120px;
}

.about-text-box h2 {
    font-size: 40px;
    margin-bottom: 45px;
    letter-spacing: 1.2px;
}

.about-text-box p {
    margin-bottom: 90px;
    line-height: 2;
}

/* About Section End*/

/* Recipies Section Start  */
.recipie-heading {
    text-align: center;
}

.recipie-heading h2 {
    font-size: 40px;
    margin-bottom: 30px;
    letter-spacing: 1.2px;
}

.recipie-heading h5 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 60px;
}

.recipie-heading p {
    margin-bottom: 15px;
}

.recipie-items {
    display: flex;
    flex-wrap: wrap;
}

.recipie-item {
    width: 25%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px 10px rgba(0, 0, 0, 0.08);
}

.recipie-item img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.recipie-item h3 {
    font-size: 25px;
    letter-spacing: 1.2px;
    margin-bottom: 12px;
    line-height: 1.6;
}

.recipie-item p {
    margin-bottom: 15px;
}

/* Recipies Section End*/

/* Counter Section Start  */
.counter-wrap {
    box-shadow: 3px 3px 15px 10px rgba(0, 0, 0, 0.08);
    padding: 35px 0px;
    border-radius: 20px;
}

.counter-wrap h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.counter-wrap p {
    margin-bottom: 10px;
}

/* Counter Section End  */

/* Order Section Start  */
.order-wrap {
    box-shadow: 3px 3px 15px 10px rgba(0, 0, 0, 0.08);
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
}

.order-section-heading h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

form input,
select {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

select {
    width: 99%;
}

form label {
    padding-left: 5px;
}

/* Footer Section Start */
.footer-wrap {
    text-align: center;
    background: #0B0D17;
    padding: 40px;
}

.footer-wrap p {
    color: #76777c;
    margin-top: 15px;
}